output.csv
statistics.txt
/notes
/test-files/dr.csv
/dr_out.csv
/dr_stats.txt
/overview_code.pdf
/test-files/dr-final.csv
/dr-splitted-sets/
/test-files/jg_in.csv
/jg-splitted-sets/jg_in_out.csv
/jg_in_out0.csv
/jg_in_out1.csv
/jg_in_out2.csv
/jg_in_out3.csv
/jg-splitted-sets/jg_in_out4.csv
/jg_in_out4.csv
/jg_in_out5.csv
/jg-splitted-sets/jg_in_out6.csv
/jg_in_out6.csv
/jg-splitted-sets/jg_in_out7.csv
/jg_in_out7.csv
/jg_in_out8.csv
/jg-splitted-sets/jg_in_out9.csv
/jg_in_out9.csv
/jg_in_out10.csv
/jg-splitted-sets/jg_in_out11.csv
/jg_in_out11.csv
/jg-splitted-sets/jg_in_out12.csv
/jg_in_out12.csv
/jg-splitted-sets/jg_in_out12a.csv
/jg-splitted-sets/jg_in_out12b.csv
/jg_in_out13.csv
/jg_in_out14.csv
/jg-splitted-sets/jg_in_out_2.csv
/jg-splitted-sets/jg_in_out_3.csv
/jg-splitted-sets/jg_in_out_4.csv
/jg-splitted-sets/jg_in_out_5.csv
/jg-splitted-sets/jg_in_out_6.csv
/jg-splitted-sets/jg_in_out_7.csv
/jg-splitted-sets/jg_in_out_8.csv
/jg-splitted-sets/jg_in_stats.txt
/jg_in_stats0.txt
/jg_in_stats1.txt
/jg_in_stats2.txt
/jg_in_stats3.txt
/jg-splitted-sets/jg_in_stats4.txt
/jg_in_stats4.txt
/jg_in_stats5.txt
/jg-splitted-sets/jg_in_stats6.txt
/jg_in_stats6.txt
/jg-splitted-sets/jg_in_stats7.txt
/jg_in_stats7.txt
/jg_in_stats8.txt
/jg-splitted-sets/jg_in_stats9.txt
/jg_in_stats9.txt
/jg_in_stats10.txt
/jg-splitted-sets/jg_in_stats11.txt
/jg_in_stats11.txt
/jg-splitted-sets/jg_in_stats12.txt
/jg_in_stats12.txt
/jg-splitted-sets/jg_in_stats12a.txt
/jg-splitted-sets/jg_in_stats12b.txt
/jg_in_stats13.txt
/jg_in_stats14.txt
/jg-splitted-sets/jg_in_stats_2.txt
/jg-splitted-sets/jg_in_stats_3.txt
/jg-splitted-sets/jg_in_stats_4.txt
/jg-splitted-sets/jg_in_stats_5.txt
/jg-splitted-sets/jg_in_stats_6.txt
/jg-splitted-sets/jg_in_stats_7.txt
/jg-splitted-sets/jg_in_stats_8.txt
